#include <zephyr/dt-bindings/gpio/gpio.h>

/ {

    led_sensor_node: led_sensor {
        compatible = "my,led-sensor";
        led-gpios = < &gpio0 2 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };
};
